<!--<!DOCTYPE html>
<html>
<head>
    <title>{/% block title %} {/% endblock %}</title>
    <link rel="stylesheet" href="{/{ base_url() }}/assets/css/styles.css" />
</head>
<body>
{/% block content %}{/% endblock %}
</body>
</html>-->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css"/>
    {% block styles %}
    {% endblock %}
</head>
<body>
<header>{% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">

            <a class="navbar-brand" href="#"><img src="../../Model/Images/Logo.png" alt="Logo"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline mr-auto">
                    <input class="form-control" type="text" placeholder="Product title" aria-label="Search" size="60">
                    <button class="btn btn-info btn-sm my-0 ml-sm-2" style="border-radius: 13px" type="submit">Search</button>
                </form>

            </div>
            <div class=" pull-right" id="navbarSupportedContent">
                <ul class="navbar-nav mr-5">
                    <li class="nav-item">
                        <a class="btn btn-dark" style="margin-right: 20px; border-radius: 13px" href="#">LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark" style="border-radius: 13px" href="#">SignIn</a>
                    </li>
                </ul>
            </div>

        </nav>
    {% endblock %}</header>
{% block content %}{% endblock %}
{% block scripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
</body>
<footer>{% block footer %} {% endblock %}</footer>
</html>
