{% extends "base.twig" %}
{% block title %} Register {% endblock %}
{% block content %}
    <form id="register-form"
          action="{{ path_for('register') }}"
          method="POST">
        <!--
        FINS AQUI FET
        <label>
            Username
            <input type="text" name="username">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <input type="submit" value="Login">-->
    </form>
{% endblock %}
