{% extends "base.twig" %}
{% block title %} Register {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <form id="register-form" class = "register_form" action="{{ path_for('register') }}" method="POST">
                    <div>
                        <label>
                            Name
                            <input type="text" class="form-control" name="name">
                            {% if errors['name'] is defined %}
                                <li>{{ errors['name'] }}</li>
                            {% endif %}
                        </label>
                    </div>
                    <div>
                        <label>
                            Username
                            <input type="text" class="form-control" name="username">
                        </label>
                    </div>
                    <div>
                        <label>
                            Email
                            <input type="email" class="form-control" name="email">
                        </label>
                    </div>
                    <div>
                        <label>
                            Birth Date
                            <input type="date" class="form-control" name="birthdate">
                        </label>
                    </div>
                    <div>
                        <label>
                            Phone Number
                            <input type="number" class="form-control" name="phone_number">
                        </label>
                    </div>
                    <div>
                        <label>
                            Password
                            <input type="password" class="form-control" name="password">
                        </label>
                    </div>
                    <div>
                        <label>
                            Confirm Password
                            <input type="password" class="form-control" name="confirm_password">
                        </label>
                    </div>
                    <div>
                        <label>
                            Profile Image
                            <input type="file" name="files[]" multiple>
                            {% if errors is defined %}
                                <ol>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register">
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock %}
